@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jomhuria&display=swap');


.background-header {
  height: 100vh;
  max-width: 100vw;
  background-image: url('../../assets/img/marvin-meyer-8CDuHXff3zo-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: fixed; */
}

.title-header {
  text-align: center;
  font-weight: bolder;
  padding-top: 40vh;
  font-size: 3em;
  color: #ff6347;
  font-family: 'Righteous', cursive;
  text-shadow: 2px 2px 2px 2px black;
}
h1 {
  text-shadow: 2px 2px 4px #c9d1d1;
}
h3 {
  letter-spacing: 1.6px;
  font-family: 'Jomhuria', cursive;
  font-size: 40px;
}

/* .title-header > button {
  border-radius: 20px;
  font-size: 0.4em;
  background-color: #55b0d6;
  color: white;
  font-weight: bolder;
  border: 1px solid white;
  box-shadow: 2px 2px 2px 2px #868f88;
  padding: 10px 20px;
  letter-spacing: 1.5px;
} */

/* .title-header > button:hover {
  transition: 0.4s;
  font-size: 0.43em;
} */
