<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <div style="background-color: #ff6347;">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-2 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-12 col-lg-12 text-center  mb-4 mb-md-0">
          <h5 class="mb-0 text-center" id="title-footer">
            Rayn Voyages à votre écoute !
          </h5>
        </div>
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">RAYN Voyages</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 130px;"
        />

        <p>
          <i class="fa fa-phone mr-2" aria-hidden="true"></i> 01 47 25 78 91
        </p>
        <p>
          <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
          <a
            href="https://www.google.com/search?q=rayn%20agence%20nanterre&oq=&sourceid=chrome&ie=UTF-8&sxsrf=ACYBGNQKvO02Uw5f28iIAG1Ie0Czh3cNyQ:1568214128271&npsic=0&rflfq=1&rlha=0&rllag=48889355,2201737,13&tbm=lcl&rldimm=13063161841945012495&ved=2ahUKEwjllbDwhMnkAhWo4YUKHeFACioQvS4wAHoECAoQFw&rldoc=1&tbs=lrf:!2m4!1e17!4m2!17m1!1e2!2m1!1e2!3sIAE,lf:1,lf_ui:2#rlfi=hd:;si:3616836321378886506;mv:!1m2!1d48.8893571!2d2.2019436!2m2!1d48.8893548!2d2.2015316"
            >22 Bis rue Sadi Carnot, 92000 Nanterre</a
          >
        </p>
        <p>
          <a href="mailto:rayn-voyages@sfr.fr"
            ><i class="fa fa-envelope mr-2" aria-hidden="true"></i>
            rayn-voyages@sfr.fr</a
          >
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">
          Horaires
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 80px;"
        />
        <p>Lundi: 9H30 - 12h30 | 14H30 - 18H</p>
        <p>Mardi: 9H30 - 12h30 | 14H30 - 18H</p>
        <p>Mercredi: 9H30 - 12h30 | 14H30 - 18H</p>
        <p>Jeudi: 9H30 - 12h30 | 14H30 - 18H</p>
        <p>Vendredi: 9H30 - 12h30 | 14H30 - 18H</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright: Rayn Voyages
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
