@import url('https://fonts.googleapis.com/css?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo|Satisfy&display=swap');


footer {
  background-color: #292930;
  height: auto;
  margin-top: 10vh;
  bottom: 0;
  color: white;
  font-size: 16px;
}

ul {
  list-style: none;
}

i {
  color: white;
  font-size: 20px;
}
hr {
  background-color: #ff6347;
  height: 2px;
}
.left {
  display: flex;
  justify-content: start;
  text-align: center;
}
.text-center {
  text-align: center;
}

#title-footer {
  font-size: 30px;
}
h5 {
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 2px #0e2129;
  font-family: 'Satisfy', cursive;
}
a {
  text-decoration: none;
  color: white;
}
