@import url('https://fonts.googleapis.com/css?family=Exo|Satisfy&display=swap');

* {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  box-sizing: border-box;
}
.post-wrap {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.post-item {
  padding: 10px;
}
.post-item-wrap {
  position: relative;
}
.post-item img {
  display: block;
  width: 100%;
}
.post-item:hover .post-info {
  opacity: 1;
}
.post-link {
  text-decoration: none;
}
.post-info {
  background: linear-gradient(
    to bottom,
    rgba(90, 124, 144, 0.8),
    rgba(90, 124, 144, 0.8) 100%
  );
  color: white;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 0.5s linear;
}
.post-date:after {
  content: '\2022';
  margin: 0 6px;
  font-size: 14px;
}

h2 {
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 2px #0e2129;
  font-family: 'Satisfy', cursive;
  color: #ff6347;
  font-weight: bolder;
  font-size: 2.2em;
  background-color: rgba(41, 41, 48, 0.13);
  padding: 10px;
}
h3 {
  letter-spacing: 1.5px;
  font-family: 'Satisfy', cursive;
  text-align: center;
}
.post-title {
  padding: 0 15px;
  font-weight: 600;
  margin-bottom: 15px;
  font-weight: bolder;
  text-align: center;
}
.apropos {
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: justify;
}

.cards {
  margin-top: 10vh;
}
@media (min-width: 768px) {
  .post-item {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}
@media (min-width: 960px) {
  .post-item {
    flex-basis: 33.333333333%;
  }
}
