<app-nous></app-nous>
<app-test></app-test>

<div class="post-wrap cards text-center ">
  <div class="post-item">
    <h2>Maroc</h2>
    <div class="post-item-wrap">
      <a routerLink="/Maroc" class="post-link">
        <img src="../../assets/img/foto/MAROCPRINCIPAL.jpg" />
        <div class="post-info">
          <h3 class="post-title">le pays des Milles et une nuit</h3>
        </div>
      </a>
    </div>
  </div>

  <div class="post-item shadow">
    <h2>Turquie</h2>
    <div class="post-item-wrap">
      <a routerLink="/Turkey" class="post-link">
        <img
          class="img-fluid"
          src="../../assets/img/foto/Turkey/TURKEYPRINC2.jpg"
        />
        <div class="post-info">
          <h3 class="post-title">
            Mer de l'histoire, poésie du soleil...
          </h3>
        </div>
      </a>
    </div>
  </div>
  <div class="post-item shadow">
    <h2>Egypte</h2>
    <div class="post-item-wrap">
      <a routerLink="/Egypte" class="post-link">
        <img src="../../assets/img/foto/EGYPTPRINCIPAL.jpg" class="img-fluid" />
        <div class="post-info">
          <h3 class="post-title text-center">Decouvrez l'Egypte Antique</h3>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="post-wrap text-center">
  <div class="post-item shadow">
    <h2>Thaïlande</h2>
    <div class="post-item-wrap">
      <a routerLink="/Thailande" class="post-link">
        <img src="../../assets/img/foto/Thai/THAIPRINC.jpg" />
        <div class="post-info">
          <h3 class="post-title">Thaïlande: Paradis Tropical</h3>
        </div>
      </a>
    </div>
  </div>

  <div class="post-item">
    <h2>Emirats Arabes Unis</h2>
    <div class="post-item-wrap">
      <a routerLink="/UAE" class="post-link">
        <img src="../../assets/img/foto/Doubai/premier.jpg" />
        <div class="post-info">
          <h3 class="post-title">
            Aller dans les nuages Aux Emirats
          </h3>
        </div>
      </a>
    </div>
  </div>
  <div class="post-item shadow">
    <h2>Pelerinage</h2>
    <div class="post-item-wrap">
      <a routerLink="/Pelerinag" class="post-link">
        <img src="../../assets/img/foto/saoud/mecc.jpg" class="img-fluid" />
        <div class="post-info">
          <h3 class="post-title text-center">
            Le pélerinage à la maison d'Allah
          </h3>
        </div>
      </a>
    </div>
  </div>
</div>
