<header>
  <app-main-nav></app-main-nav>
</header>
<main>
  <h2 class="text-center">
    Pour que nos agents locaux adaptent votre voyage sur-mesure à vos envies
  </h2>
  <div class="container mt-5">
    <div class="row ">
      <div class="col-sm-4">
        <img src="../../assets/img/jelt.png" alt="mail" class="img-fluid" />
      </div>
      <div class="col-sm-8">
        <form
          class="form p-5"
          (submit)="contactForm(form.value)"
          #form="ngForm"
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Destination">Destination *</label>
              <input
                type="text"
                class="form-control"
                id="Destination"
                name="Destination"
                placeholder="Exemple: Algerie"
                required
                aria-required="true"
                ngModel
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputVill">Ville de départ *</label>
              <input
                type="text"
                class="form-control"
                id="Ville"
                name="Ville"
                required
                ngModel
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputDate">Date de départ *</label>
              <input
                type="text"
                class="form-control"
                id="Date"
                name="Date"
                required
                ngModel
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputDuree">Durée (en jours) *</label>
              <input
                type="text"
                class="form-control"
                id="inputDuree"
                name="inputDuree"
                placeholder="Exemple: 8"
                required
                ngModel
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputadultes">Nombre d'adultes *</label>
              <input
                type="text"
                class="form-control"
                id="adultes"
                name="adultes"
                placeholder="Exemple: 2"
                required
                ngModel
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputenfants">Nombre d'enfants *</label>
              <input
                type="text"
                class="form-control"
                id="enfants"
                name="enfants"
                placeholder="Exemple: 2"
                required
                ngModel
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputNom">Nom *</label>
              <input
                type="text"
                class="form-control"
                id="Nom"
                name="Nom"
                required
                ngModel
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputprenom">Prenom</label>
              <input
                type="text"
                class="form-control"
                id="prenom"
                name="prenom"
                ngModel
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputemil">Mail *</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Exemple: Voyage@mail.fr"
                required
                ngModel
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputtel">Numero *</label>
              <input
                type="text"
                class="form-control"
                id="tel"
                name="tel"
                placeholder=""
                required
                ngModel
              />
            </div>
          </div>
          <div class="mb-5">
            <label for="message">Message</label>
            <textarea
              class="form-control"
              id="message"
              name="message"
              placeholder="Faites-nous part de tout ce qui est important pour vous: votre style de voyages, vos envies etc."
              required
              ngModel
            ></textarea>
          </div>
          <button
            type="submit"
            id="submit"
            name="submit"
            class="btn btn-primary butt"
          >
            Envoyer
          </button>
          <div class="row" *ngIf="showMsg">
            <div class="col-12">
              <p class="alert alert-success mt-3">
                Votre message à bien été envoyé
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<footer>
  <app-footer></app-footer>
</footer>
