main {
  margin-top: 17vh;
}
.butt {
  background-color: #ff6347 !important;
  border-color: #ff6347;
}
.form {
  border: 2px solid rgba(188, 188, 209, 0.555) !important;
   box-shadow: 3px 3px 5px rgb(188, 188, 209, 0.6);  
}
