h5 {
  text-align: center;
}
img {
  width: 100%;
  height: auto;
}
.img {
  max-width: 100vw;
  min-width: 100vw;
}
.apropos {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: justify;
}

h2 {
  margin-top: 10vh;
}

/* .scr {
  overflow-y: scroll;
  height: 75vh;
} */

.telo {
  text-align: center !important;
}
.incard {
  max-height: 500px;
  padding-top: 5px;
}

p {
  text-align: justify;
}
.pourpadding {
  padding-top: 25px;
}

#yellow {
  color: yellow;
}

i {
  font-size: 0.9em;
  color: rgb(211, 48, 48);
}
.buttcard {
  position: absolute;
  bottom: 5px;
  left: 35%;
  background-color: #ff6347 !important;
  border: 1px solid #ff6347 !important;
}

.buttcard2 {
  background-color: #ff6347 !important;
  border: 1px solid #ff6347 !important;
}

.ligne {
  background-color: #ff6347;
  height: 2px;
}

/* FLECHE */
.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #b8b8b8;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bolder;
  border-radius: 2px;
  display: none;
}

.back_to_top:hover {
  background: #e9ebec;
}

.back_to_top-show {
  display: block;
}

@media screen and (max-width: 1024px) {
  img {
    width: 100%;
    height: 55vh;
  }
}

@media screen and (max-width: 500px) {
  img {
    width: 100%;
    height: 27vh;
  }
}
