<nav
  class="navbar navbar-expand-md navbar-dark bg-dark fixed-top main-nav"
  id="main-nav"
>
  <a class="navbar-brand ml-5" routerLink="/"
    ><img
      src="../../assets/img/logo10.png"
      class="logo"
      width="125"
      height="50"
      alt="logo"
  /></a>
  <button
    class="navbar-toggler pourcolor"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"> </span>
  </button>
  <div class="collapse navbar-collapse container-items-nav" id="navbarNav">
    <ul class="navbar-nav mr-5">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" id="apr" href="">A propos</a>
      </li> -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Destinations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/Algerie">Algerie</a>
          <a class="dropdown-item" routerLink="/Maroc">Maroc</a>
          <a class="dropdown-item" routerLink="/Thailande">Thaïlande</a>
          <a class="dropdown-item" routerLink="/Egypte">Egypte</a>
          <a class="dropdown-item" routerLink="/UAE">United Arab Emirates</a>
          <a class="dropdown-item" routerLink="/Turkey">Turquie</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="apr" routerLink="/Pelerinag">Pelerinage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Contact">Demander un Devis</a>
      </li>
    </ul>
  </div>
</nav>
<a class="back_to_top" title="Наверх"
  ><i class="fa fa-arrow-up" aria-hidden="true"></i
></a>
