a {
  /* param generaux */
  text-decoration: none;
  opacity: 1;
}

.navbar-brand:hover {
  color: #ff0000;
}

li {
  list-style: none;
}

li > a {
  font-weight: 400;
}

.nav-link:hover {
  font-weight: 400;
}

/* NAV */
.nav-link {
  color: rgb(0, 0, 0) !important;
  font-weight: 400;
  font-size: 1.1em;
}

.nav-link:hover {
  font-weight: bolder;
  border-bottom: 2px solid #55b0d6;
  transition: 0.4s;
  font-weight: 400;
}

.main-nav {
  background-color: rgb(255, 255, 255) !important;
}

.navbar-brand {
  color: #ff0000;
  font-weight: bolder;
  font-size: 1.3em;
}

#navbarNav {
  justify-content: flex-end !important;
}

nav {
  box-shadow: 2px 2px 5px rgb(188, 188, 209, 0.6);
}
.pourcolor {
  background-color: #ff6347;
}
.logo {
  border-radius: 5px;
}

.back_to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #b8b8b8;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bolder;
  border-radius: 2px;
  display: none;
}

.back_to_top:hover {
  background: #e9ebec;
}

.back_to_top-show {
  display: block;
}
@media (max-width: 768px) {
  .main-nav {
    background-color: #fff !important;
  }

  .nav-link {
    color: black !important;
  }
}
