@import url('https://fonts.googleapis.com/css?family=Exo|Satisfy&display=swap');
.text {
  margin-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: justify;
}

.marg {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 50px;
}
h3 {
  text-align: center;
  letter-spacing: 1.5px;
  text-shadow: 4px 4px 4px #0e2129;
  font-family: 'Satisfy', cursive;
  color: #fdf9f9;
  font-size: 2.4em;
}
h4 {
  text-align: center;
  letter-spacing: 1.5px;
  text-shadow: 3px 3px 2px #0e2129;
  font-family: 'Satisfy', cursive;
  color: #ff6347;
  font-size: 2.6em;
}
a {
  text-decoration: none;
}

@media (max-width: 660px) {
  .marg {
    padding-left: 5px;
    padding-right: 5px;
  }
  .taille {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .taille {
    font-size: 18px;
  }
}
