<article class="text">
  <a routerLink="Algerie"><h4>Embrasser la magie de l'Algerie</h4></a>
  <p class="mt-5 descr">
    C'est la nature pittoresque de la côte nord-africaine, les ruines antiques
    de grandes civilisations, la "résidence" du dur Sahara, en un mot - un pays
    coloré et vibrant. Ici, les touristes attendent les plages de la mer
    Méditerranée, les bazars orientaux de Constantin, les monuments
    architecturaux des cultures romaine, carthaginoise, arabe et turque.
  </p>
</article>
<!--Carousel Wrapper-->
<div
  id="carousel-example-2"
  class="carousel slide carousel-fade marg"
  data-ride="carousel"
>
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
    <li data-target="#carousel-example-2" data-slide-to="3"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img
          class="d-block w-100"
          src="../../assets/img/foto/ALgeria/1.jpg"
          alt="First slide"
        />
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive taille">
          Le plus grand pays d'Afrique -2 382 000 км².
        </h3>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img
          class="d-block w-100"
          src="../../assets/img/foto/ALgeria/2.jpg"
          alt="Second slide"
        />
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive taille">
          7 sites du patrimoine mondial de l'UNESCO
        </h3>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img
          class="d-block w-100"
          src="../../assets/img/foto/ALgeria/55.jpg"
          alt="Second slide"
        />
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive taille">
          Le Sahara est le plus grand désert chaud du monde.
        </h3>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img
          class="d-block w-100"
          src="../../assets/img/foto/ALgeria/3.jpg"
          alt="Third slide"
        />
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption ">
        <h3 class="h3-responsive taille">
          2 908 mètres- Le mont Tahat est le plus haut sommet d’Algérie.
        </h3>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a
    class="carousel-control-prev"
    href="#carousel-example-2"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carousel-example-2"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
