@import url('https://fonts.googleapis.com/css?family=Exo|Satisfy&display=swap');
.padd {
  margin-top: 15vh;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
h5 {
  text-align: center;
}
h3 {
  text-align: center;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 2px #0e2129;
  font-family: 'Satisfy', cursive;
  color: #ff6347;
  font-size: 2.2em;
}
img {
  max-width: 100%;
  height: auto;
}
.img {
  max-width: 100vw;
  min-width: 100vw;
}

.scroll {
  height: 415px;
  overflow-y: scroll;
}

.apropos {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  img {
    width: 100%;
    height: 50vh;
  }
}
@media screen and (max-width: 500px) {
  img {
    width: 100%;
    height: 30vh;
  }
}
