<app-main-nav></app-main-nav>
<section>
  <div>
    <img
      src="../../assets/img/foto/saoud/coub/principal.jpg"
      class="img"
      alt="AS"
    />
  </div>
</section>
<div id="apropos" class="shadow apropos justify">
  <article class="titre p-5">
    <p>
      Hajj - un pèlerinage vers les lieux saints de la Mecque. Le Hajj est le seul
      pilier de l'islam qui se déroule strictement à une certaine période et
      uniquement à la Mecque. Chaque musulman est obligé de faire un pèlerinage à
      la Mecque au moins une fois dans sa vie, si les moyens et la santé le lui
      permettent. Chaque année, plus de 4 millions de pèlerins se rendent en
      Arabie saoudite pour accomplir le hajj.
    </p>
  </article>
</div>
<section>
  <div class="container mt-5 shadow">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="box-shadow-full  text-justify">
          <h3>
            Kaaba
          </h3>

          <p>
            Grande construction cubique située au cœur de la mosquée, dans la
            cour de la masjid al-Haram (« mosquée sacrée ») à La Mecque, lieu
            saint de l'Islam vers lequel se tournent les croyants pour prier.
            <br />
            Selon la légende, lorsque la pierre noire fut abaissée du ciel, elle
            était d'un blanc éclatant et brillait en même temps, de sorte qu'on
            pouvait la voir en quatre jours de voyage à La Mecque. Mais avec le
            temps, au contact de nombreux pécheurs, la pierre a commencé à
            s'assombrir jusqu'à devenir noire.
          </p>
        </div>

      </div>
      <div class="col-md-8 col-sm-12">
        <div
          id="carouselExampleFade"
          class="carousel slide carousel-fade"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../assets/img/foto/saoud/coub/1.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/coub/2.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/coub/3.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/coub/4.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/coub/4a.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/coub/6.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleFade"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleFade"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 shadow">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div
          id="carouselExampleFade1"
          class="carousel slide carousel-fade"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../assets/img/foto/saoud/zam/0.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/zam/1.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/zam/2.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/zam/3.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleFade1"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleFade1"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="box-shadow-full">
          <h3>
            Zamzam
          </h3>

          <p>
            Zamzam est une source d'eau située à La Mecque, en Arabie saoudite.
            ... Présente encore de nos jours, elle ne s'est jamais tarie malgré
            des siècles d'existence dans le désert et une très forte consommation,
            car cette source est le puits du sanctuaire de la Kaaba.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 shadow">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="box-shadow-full scroll text-justify ">
          <h3>
            Mina (ou Mîna)
          </h3>

          <p>
            C'est un lieu désertique à environ 5 km à l'Est de La Mecque. Il se
            trouve sur la route de La Mecque au mont Arafat. Mina est
            particulièrement connu pour son rôle dans le Hajj comme une cité
            temporaire de tentes est élevée pour accueillir des millions de
            pèlerins venant du monde entier. C'est aussi à l'entrée ouest de Mina,
            au pont Djamarat, qu'a lieu le rituel de la lapidation des stèles de
            Satan, qui doit se dérouler entre le lever et le coucher du soleil du
            dernier jour du Hajj. Chaque pèlerin est tenu de lancer sept cailloux
            sur chacun des trois blocs de béton haut d’environ 25 mètres. Selon la
            tradition, c’est en ces lieux que Satan surgit à trois reprises,
            d’abord devant Ibrahim, puis devant sa femme Agar et ensuite devant
            leur fils Ismaël. Pour lui signifier leur mépris, Abraham et sa
            famille lui lancèrent chaque fois sept cailloux. Ce geste a été
            perpétué.
          </p>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div
          id="carouselExampleFade2"
          class="carousel slide carousel-fade"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../assets/img/foto/saoud/mina/1.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/mina/2.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/mina/3.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/mina/4.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/mina/5.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleFade2"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleFade2"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 shadow">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div
          id="carouselExampleFade3"
          class="carousel slide carousel-fade"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../assets/img/foto/saoud/arafat/1.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/arafat/2.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/arafat/2a.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/arafat/3.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/arafat/4.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/img/foto/saoud/arafat/5.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleFade3"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleFade3"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="box-shadow-full text-justify">
          <h3>
            Mont Arafat
          </h3>

          <p>
            Le mont Arafat (parfois appelé mont Arafah) est une colline de granite
            située à une vingtaine de kilomètres à l'est de La Mecque ; elle
            atteint environ 70 mètres de hauteur. On le connaît également sous le
            nom de Jabal ar-Raḥma ou « montagne de la miséricorde ». Cette colline
            est l'endroit où Mahomet aurait donné son sermon d'adieu aux musulmans
            qui l'avaient accompagné pour le hajj à la fin de sa vie. Les
            musulmans croient qu'Adam et sa femme Ève ont été réunis sur cette
            colline et qu'ils y ont reçu le pardon de Dieu après 200 ans de
            séparation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
