<div id="apropos" class="shadow apropos">
    <div class="text p-5 justify">
        <h3>Qui sommes-nous ?</h3>
        <div class="pt-3">
            <p>
                Nous sommes une agence de quartier situé à Nanterre. Notre priorité est
                une approche individuelle de chaque client. Nous aimons notre travail et
                vous aiderons à choisir une visite en fonction de vos exigences et de vos
                capacités. Nous pensons à vous et faisons de notre mieux pour vous faire
                profiter et vous rappeler de vos vacances. La vaste expérience que nous
                avons acquise en travaillant dans le secteur du tourisme nous permet de
                sélectionner les itinéraires les plus optimaux, en tenant compte de toutes
                vos exigences.
            </p>
        </div>
    </div>
</div>
