h2 {
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 2px #0e2129;
  font-family: 'Satisfy', cursive;
  color: #ff6347;
  font-weight: bolder;
  font-size: 2.2em;
  background-color: rgba(41, 41, 48, 0.13);
  padding: 10px;
}
h3 {
  letter-spacing: 1.5px;
  font-family: 'Satisfy', cursive;
  text-align: center;
}
.post-title {
  padding: 0 15px;
  font-weight: 600;
  margin-bottom: 15px;
  font-weight: bolder;
  text-align: center;
}
.apropos {
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: justify;
}
