<app-main-nav></app-main-nav>
<section>
  <div class="shadow-lg">
    <img src="../../assets/img/foto/Thai/long.jpg" class="img" alt="thailand" />
  </div>
</section>
<div id="apropos" class="shadow apropos">
<article class="titre p-5 justify"> 
  <p>
    Planifier un voyage en Thaïlande est certainement un bon moyen de profiter de chaque minute de votre visite. Le beau
    pays de l'Asie du Sud-Est est appelé le pays du sourire et du soleil levant, où une vie nocturne animée, des cultures
    uniques, des plats de rue, de belles filles et des massages sauront vous surprendre.<br><br>

    La Thaïlande a quelque chose pour les touristes de tous les horizons. Pour les jeunes touristes, Bangkok, Pattaya et
    Phuket sont un paradis pour profiter de la vie nocturne. tandis que pour les amoureux de la nature, les îles et les
    parcs nationaux, ainsi que les marchés flottants sont amusants. Pour les jeunes mariés, les plages et les îles sont des
    lieux idéaux.
  </p>
</article>
</div>
<h2 class="text-center">Destinations plus courant</h2>

<!-- Card deck -->
<div class="col-md-12 mx-auto card-deck mt-5">
  <!-- Card -->
  <div class="card mb-4 shadow ">
    <!--Card image-->
    <div class="view overlay">
      <img
        class="card-img-top"
        src="../../assets/img/foto/Thai/phuket/phuket.jpg"
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body text-center">
      <!--Title-->
      <h4 class="card-title">Phuket</h4>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
      <!--Text-->
      <p class="card-text pb-5">
        Phuket est la plus grande île de Thaïlande. Patong et les plages qui
        l'entourent sont la forteresse de vacances de l'île et connue pour sa
        vie nocturne.
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button
        type="button"
        class="btn btn-primary buttcard "
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        En voir plus
      </button>
    </div>
  </div>
  <!-- Card -->
  <div
    class="modal fade telo"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Phuket</h5>
          <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 80px;"
        />
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Plus grande île de Thaïlande étirée dans la mer d’Andaman au sud-ouest
            du pays, visiter Phuket offre à voir un paradis tropical et
            probablement le site le plus visité de Thaïlande. Entre les plages de
            rêve, les plaisirs gustatifs de la cuisine thaï, les excursions
            grandioses, les activités sous-marines, le grand Bouddha ou les îles
            alentours, vous aurez sûrement envie d’y retourner.
        </p>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/phuket/ile.jpg" alt="First slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"  src="../../assets/img/foto/Thai/phuket/phuket12.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phuket/phuket3.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phuket/phuket4.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phuket/phuket5.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phuket/phuket6.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phuket/phuket7.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phuket/phuket8.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phuket/phuket9.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phuket/phuket10.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phuket/phuket12.jpg" alt="Second slide" />
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary buttcard2"
            routerLink="/contact"
            data-dismiss="modal"
            routerLink="/Contact">
          
            Devis
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card -->
  <div class="card mb-4 shadow">
    <!--Card image-->
    <div class="view overlay">
      <img
        class="card-img-top"
        src="../../assets/img/foto/Thai/pattaya/pattaya4.jpg"
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body text-center">
      <!--Title-->
      <h4 class="card-title">Pattaya</h4>
      <!--Text-->
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
      <p class="card-text pb-5">
        La station la plus vibrante de Thaïlande. Mer,
        plages, hôtels, shopping, discothèques, spectacles et
        animations à Pattaya. Il y en a pour tous les goûts!
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button
        type="button"
        class="btn btn-primary buttcard"
        data-toggle="modal"
        data-target="#exampleModalCenter2"
      >
        En voir plus
      </button>
    </div>
    <div
      class="modal fade telo"
      id="exampleModalCenter2"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Pattaya</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Pattaya et sa vie nocturne... Au coucher du soleil, cet
              endroit devient la destination de rêve pour les fêtards. L'atmosphère animée qui règne la nuit est une des raisons
              pour laquelle de nombreux voyageurs visitent cet endroit.
            </p>


<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/pattaya/pattaya2.jpg" alt="First slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/pattaya/pattaya7.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/pattaya/pattaya.jpg" alt="Third slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/pattaya/pattaya6.jpg" alt="fourth slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/pattaya/pattaya1.jpg" alt="fourth slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/pattaya/pattaya55.jpg" alt="fourth slide" />
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary buttcard2"
              routerLink="/contact"
              data-dismiss="modal"
              routerLink="/Contact"
            >
              Devis
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4 shadow">
    <!--Card image-->
    <div class="view overlay">
      <img
        class="card-img-top"
        src="../../assets/img/foto/Thai/phiphi/phiphi1.jpg"
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body text-center">
      <!--Title-->
      <h4 class="card-title">Phi Phi</h4>
      <!--Text-->
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
      <p class="card-text pb-5">
        Les îles de Phi Phi se distinguent par le
        fait qu’une est complètement inhabitée et que l’autre est pleine de vie
        de jour comme de nuit. Le charme naturel de la station fait une
        impression indélébile sur les vacanciers.
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button
        type="button"
        class="btn btn-primary buttcard"
        data-toggle="modal"
        data-target="#exampleModalCenter3"
      >
        En voir plus
      </button>
    </div>
    <div
      class="modal fade telo"
      id="exampleModalCenter3"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Phi Phi</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Sur les six îles de l'archipel, seules deux sont
              facilement accessibles, les autres sont inhabitées. Phi Phi Don est
              le centre de la vie touristique, il y a des hôtels, des magasins. Phi Phi Le est connu pour ses paysages
              de carte postale et Maya Bay pour le tournage du  film "la plage" avec
              Di Caprio dans le rôle principal.
            </p>

<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/phiphi/phiphi10.jpg" alt="First slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phiphi/phiphi6.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phiphi/phiphi2.jpg" alt="Third slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phiphi/phiphi4.jpg" alt="fourth slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phiphi/phiphi9.jpg" alt="fourth slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/phiphi/phiphi.jpg" alt="fourth slide" />
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
         
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary buttcard2"
              routerLink="/contact"
              data-dismiss="modal"
              routerLink="/Contact"
            >
              Devis
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card -->
</div>



<div class="col-md-12 mx-auto card-deck mt-5">
  <!-- Card -->
  <div class="card mb-4 shadow">
    <!--Card image-->
    <div class="view overlay">
      <img
        class="card-img-top"
        src="../../assets/img/foto/Thai/bang/bangkok2.jpg"
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body text-center">
      <!--Title-->
      <h4 class="card-title">Bangkok</h4>
      <!--Text-->
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
      <p class="card-text pb-5">
        La ville de Bangkok a beaucoup à offrir en matière d’histoire, de
        culture, de traditions et de beauté architecturale. Votre visite
        sera passionnante et pleine d’aventure.
        
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button
        type="button"
        class="btn btn-primary buttcard"
        data-toggle="modal"
        data-target="#exampleModalCenter4"
      >
        En voir plus
      </button>
    </div>
  </div>
  <!-- Card -->
  <div
    class="modal fade telo"
    id="exampleModalCenter4"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Bangkok</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            C'est l'une des villes les plus cosmopolites d'Asie, avec ses temples
            et ses célèbres palais. Pour beaucoup, Bangkok incarne la quintessence
            de la capitale asiatique. Les moines habillés en orange foncé, les
            néons lumineux, l'architecture thaïlandaise, les plats épicés, les
            marchés colorés, les embouteillages et le climat tropical constituent
            les expériences les plus frappantes de cette ville. 
          </p>

<div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators3" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators3" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators3" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/bang/bangkok.jpg" alt="First slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/bang/bangkok3.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/bang/bangkok4.jpg" alt="Third slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/bang/bangkok5.jpg" alt="fourth slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/bang/bangkok6.jpg" alt="fourth slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/bang/bangkok7.jpg" alt="Third slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/bang/bangkok8.jpg" alt="fourth slide" />
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary buttcard2"
            routerLink="/contact"
            data-dismiss="modal"
            routerLink="/Contact"
          >
            Devis
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card -->
  <div class="card mb-4 shadow">
    <!--Card image-->
    <div class="view overlay">
      <img
        class="card-img-top"
        src="../../assets/img/foto/Thai/food/food.jpg"
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body text-center">
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <!--Title-->
      <h4 class="card-title">Nourriture</h4>
      <!--Text-->
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
      <p class="card-text pb-5">
        La cuisine nationale est l'une des principales caractéristiques de la
        Thaïlande et une grande fierté des thaïlandais.
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button
        type="button"
        class="btn btn-primary buttcard"
        data-toggle="modal"
        data-target="#exampleModalCenter5"
      >
        En voir plus
      </button>
    </div>
    <div
      class="modal fade telo"
      id="exampleModalCenter5"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Nourriture</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">


  <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators4" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="7"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="8"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="9"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="10"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="11"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="12"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="13"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="14"></li>
      <li data-target="#carouselExampleIndicators4" data-slide-to="15"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/food/food1.jpg" alt="First slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food2.jpg" alt="Second slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food3.jpg" alt="Third slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food4.jpg" alt="fourth slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food5.jpg" alt="fourth slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100"  src="../../assets/img/foto/Thai/food/food6.jpg" alt="Second slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food7.jpg" alt="Third slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food7a.jpg" alt="fourth slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food7b.jpg" alt="fourth slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food7c.jpg" alt="Second slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food7d.jpg" alt="Third slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food7e.jpg" alt="fourth slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food7f.jpg" alt="fourth slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food8.jpg" alt="Second slide" />
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img/foto/Thai/food/food9.jpg" alt="Third slide" />
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators4" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators4" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4 shadow">
    <!--Card image-->
    <div class="view overlay">
      <img
        class="card-img-top"
        src="../../assets/img/foto/Thai/hotels/hotel.jpg"
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body text-center ">
      <!--Title-->
      <h4 class="card-title">Hotels</h4>
      <!--Text-->
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
      <p class="card-text pb-5">
        Un voyage en Thaïlande est un vrai conte de fées.
        Pour cela vous devez choisir le bon hôtel, qui
        deviendra votre lieu de détente dans ce paradis fabuleux.
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button
        type="button"
        class="btn btn-primary buttcard"
        data-toggle="modal"
        data-target="#exampleModalCenter6"
      >
        En voir plus
      </button>
    </div>
    <div
      class="modal fade telo"
      id="exampleModalCenter6"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Hotels</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h3 >Le Chillax Heritage Hotel(Bangkok) <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                  aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                  aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
                 <p>Situé dans la vieille ville de Bangkok, le Chillax Heritage propose des hébergements au style unique s'inspirant de
                l'épopée mythologique du Ramayana. L'établissement se trouve à seulement 5 minutes à pied de Khao San Road. Durant votre
                séjour, vous pourrez vous détendre dans sa piscine ou faire de l'exercice dans sa salle de sport.</p>
                <p>Une promenade de 15 minutes vous permettra de rejoindre le temple du Bouddha d'émeraude. Le Chillax Heritage se situe à
                2 km du Wat Saket (temple de la montagne dorée), à 1,8 km du Grand palais et à 2,1 km du temple Wat Pho. L'aéroport le
                plus proche, l'aéroport international Don Muang, est à 27 km.</p>

              <div id="carouselExampleIndicators5" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators5" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators5" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators5" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators5" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators5" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/hotels/bang/0.jpg" alt="First slide" />
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/1.jpg" alt="Second slide" />
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/2.jpg" alt="Third slide" />
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/3.jpg"alt="fourth slide" />
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/4.jpg" alt="fifth slide" />
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <a class="btn btn-info mt-3 mb-3 buttcard2" href="http://www.booking.com/Share-fy1Bf2" target="_blank"> Plus d'informations ici
              </a>

              <h3 class="pourpadding">Eastin Grand Hotel Sathorn (Bangkok) <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow"
                  class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow"
                  class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
              <p>L'Eastin Grand Hotel Sathorn est relié à la station de métro aérien BTS de Surasak par sa propre passerelle. Cet
              établissement luxueux propose une piscine extérieure à débordement, une salle de sport bien équipée, 3 restaurants et
              une connexion Wi-Fi gratuite.</p>
              <p>Grâce au train aérien, l'Eastin Grand Hotel Sathorn se trouve à seulement quelques minutes du reste du centre de
              Bangkok. L'aéroport international de Bangkok-Suvarnabhumi est quant à lui accessible en 45 minutes en empruntant
              l'autoroute.</p>
 
<div id="carouselExampleIndicators6" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators6" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators6" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators6" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators6" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/hotels/bang/new1.jpg" alt="First slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/new2.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/new3.jpg" alt="Third slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/new4.jpg" alt="fourth slide" />
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators6" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators6" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<a class="btn btn-info mt-3 mb-3 buttcard2" href="http://www.booking.com/Share-hNLZwm" target="_blank"> Plus d'informations ici
</a>
      

    <h3 class="pourpadding">The Westin Siray Bay Resort & Spa (Phuket) <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow"
        class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow"
        class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
      <p>L'établissement de luxe The Westin Siray Bay Resort & Spa, Phuket est situé face à la baie, sur un littoral paisible. Il
      propose une salle de sport, 3 piscines à débordement et une vue à couper le souffle sur l'océan. Il met à votre
      disposition un spa et un concierge disponible 24h/24..</p>
      
      <div id="carouselExampleIndicators7" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators7" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators7" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators7" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators7" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators7" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/hotels/bang/ph1.jpg" alt="First slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/ph2.jpg" alt="Second slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/ph3.jpg" alt="Third slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/ph4.jpg" alt="fourth slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/ph5.jpg" alt="fourth slide" />
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators7" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators7" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <a class="btn btn-info mt-3 mb-3 buttcard2" href="http://www.booking.com/Share-P1IRyo" target="_blank"> Plus d'informations ici
      </a>



          <h3 class="pourpadding">The Village Coconut Island Beach Resort(Phuket)<i id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow"
              class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow"
              class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>

      <p>Le complexe hôtelier The Village Coconut Island Beach Resort est installé sur une plage privée donnant sur la magnifique
      baie de Phang Nga. Situé à seulement 5 minutes de Phuket via le service de navette en bateau de l'hôtel, le Village est
      un havre de paix balnéaire à l'écart de l'agitation du continent
      </p>
      
      <div id="carouselExampleIndicators8" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators8" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators8" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators8" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators8" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators8" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/hotels/bang/1ph.jpg" alt="First slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/2ph.jpg" alt="Second slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/3ph.jpg" alt="Third slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/4ph.jpg" alt="fourth slide" />
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/5ph.jpg" alt="fourth slide" />
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators8" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators8" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

        <a class="btn btn-info mt-3 mb-3 buttcard2" href="http://www.booking.com/Share-rAdpD6" target="_blank"> Plus d'informations ici
        </a>


        <h3 class="pourpadding">Sea View Beachfront Condos Pattaya <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
            aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
            aria-hidden="true"></i></h3>
        
        <p>Situé à seulement 150 mètres de la plage de Jomtien de 6 km de long, le Sea View Beachfront Condos Pattaya Jomtien Beach
        met gratuitement à votre disposition une connexion Wi-Fi et un parking privé.
        </p>
        
        <div id="carouselExampleIndicators9" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators9" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators9" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators9" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators9" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators9" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/hotels/bang/pat1.jpg" alt="First slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/pat2.jpg" alt="Second slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/pat3.jpg" alt="Third slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/pat4.jpg" alt="fourth slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/pat5.jpg" alt="fourth slide" />
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators9" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators9" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
        <a class="btn btn-info mt-3 mb-3 buttcard2" href="http://www.booking.com/Share-YvGCT4" target="_blank"> Plus d'informations ici
        </a>


        <h3 class="pourpadding">Grande Centre Point Pattaya <i id="yellow" class="fa fa-star" aria-hidden="true"></i> <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
            id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
            id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
        
        <p>Situé dans le centre de Pattaya, à moins de 3,5 km du complexe King Power Pattaya et de 3,2 km du cabaret d'Alcazar, le
        Grande Centre Point Pattaya propose des chambres climatisées et dotées d'une salle de bains privative. Cet hôtel 5
        étoiles est doté d'une piscine extérieure. Vous pourrez prendre un verre au bar ou un repas au restaurant.
        </p>
        
        <div id="carouselExampleIndicators10" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators10" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators10" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators10" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators10" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators10" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/hotels/bang/1pat.jpg" alt="First slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/2pat.jpg" alt="Second slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/3pat.jpg" alt="Third slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/4pat.jpg" alt="fourth slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/5pat.jpg" alt="fourth slide" />
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators10" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators10" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
        <a class="btn btn-info mt-3 mb-3 buttcard2" href="http://www.booking.com/Share-0xuVPJQ" target="_blank"> Plus d'informations ici
        </a>


        <h3 class="pourpadding">Phi Phi Island Village Beach Resort<i id="yellow" class="fa fa-star" aria-hidden="true"></i> <i
            id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
            id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
        
        <p>Le Phi Phi Island Village Beach Resort vous propose un séjour de détente, avec une plage privée et une piscine à
        débordement munie d'un bar. Ses installations d'exception comprennent des courts de tennis, un centre de plongée et 4
        restaurants. Vous bénéficierez aussi d'une connexion Wi-Fi gratuite dans le hall.
        </p>
        
                <div id="carouselExampleIndicators11" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators11" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators11" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators11" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators11" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators11" data-slide-to="4"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/hotels/bang/phi3.jpg" alt="First slide" />
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/phi2.jpg" alt="Second slide" />
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/phi4.jpg" alt="Third slide" />
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/phi5.jpg" alt="fourth slide" />
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/phi1.jpg" alt="fourth slide" />
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators11" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators11" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
        
        <a class="btn btn-info mt-3 mb-3 buttcard2" href="http://www.booking.com/Share-EAfkXh" target="_blank"> Plus d'informations ici
        </a>



                <h3 class="pourpadding">Phi Phi CoCo Beach Resort <i
                    id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                    id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
                
                <p>Le Phi Phi Island Village Beach Resort vous propose un séjour de détente, avec une plage privée et une piscine à
                  débordement munie d'un bar. Ses installations d'exception comprennent des courts de tennis, un centre de plongée et 4
                  restaurants. Vous bénéficierez aussi d'une connexion Wi-Fi gratuite dans le hall.
                </p>
                
                <div id="carouselExampleIndicators12" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators12" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators12" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators12" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators12" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators12" data-slide-to="4"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Thai/hotels/bang/phiphi5.jpg" alt="First slide" />
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/phiphi3.jpg" alt="Second slide" />
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/phiphi2.jpg" alt="Third slide" />
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/phiphi1.jpg" alt="fourth slide" />
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/img/foto/Thai/hotels/bang/phiphi4.jpg" alt="fourth slide" />
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators12" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators12" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                
                <a class="btn btn-info mt-3 mb-3 buttcard2" href="http://www.booking.com/Share-XSrg0QL" target="_blank"> Plus d'informations ici
                </a>

          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card -->
</div>
<!-- Card deck -->
<!-- Card -->

<app-footer></app-footer>
