<app-main-nav></app-main-nav>
<section>
    <div>
        <img src="../../assets/img/foto/ALgeria/long.jpg" class="img" alt="Doubai" />
    </div>
</section>
<div id="apropos" class="shadow apropos">
    <article class="titre p-5 justify">
        L'Algérie est les vastes étendues du Sahara désertique, les eaux chaudes de la mer Méditerranée
        et les impressionnantes chaînes de montagnes, les plus belles mosquées, des forteresses exceptionnelle,
        les ruines mystérieuses d'anciennes villes, des cités rocheuses et d'autres lieux intéressants émerveillent
        les visiteurs du pays.
        <br>
       <p><strong> Vous pouvez contacter nos partenaires en Algérie :</strong>
        Trajectoire voyages ORAN seddikia Algerie</p>
    </article>
</div>
<h2 class="text-center">Destinations les plus courantes</h2>

<!-- Card deck -->
<div class="col-md-12 mx-auto card-deck mt-5">
    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/ALgeria/oran/Princip.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">Oran</h4>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <!--Text-->
            <p class="card-text pb-5">
            Deuxième ville la plus peuplée de la république, Oran combine les caractéristiques d'une métropole moderne et d'une
            ville nord-africaine classique avec une abondance de rues étroites et de nombreux sites intéressants.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter">
                En voir plus
            </button>
        </div>
    </div>
    <!-- Card -->
    <div class="modal fade telo" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Doubai</h5>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 80px;" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Aujourd'hui, Oran est l'un des plus grands ports d'Afrique du Nord, ainsi qu'un important centre financier et culturel.
                    </p>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 img-fluid" src="../../assets/img/foto/ALgeria/oran/o1.jpg"
                                    alt="First slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/ALgeria/oran/o2.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/ALgeria/oran/o3.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/ALgeria/oran/o4.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/ALgeria/oran/o5.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/ALgeria/oran/o6.jpg"
                                    alt="Second slide" />
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary butmodel" routerLink="/contact" data-dismiss="modal"
                        routerLink="/Contact">
                        Devis
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/ALgeria/alg/alg.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">Alger</h4>
            <!--Text-->
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <p class="card-text pb-5">
                La population de cette destination au cœur de Algérie s'élève à environ 2 000 000 personnes.
                
                Vos enfants passeront d'agréables moments à Alger qui abrite des sites appréciés des familles comme Aquafortland (parc
                aquatique) et Parc d'attraction de Ben Aknoun.
                
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter2">
                En voir plus
            </button>
        </div>
        <div class="modal fade telo" id="exampleModalCenter2" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sharjah</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Sur le rivage de la baie se trouve une grande cathédrale catholique - la basilique Notre-Dame d'Afrique. Ce lieu sacré a
                            été créé pour la réconciliation entre catholiques et musulmans, car l'inscription à l'intérieur de la cathédrale,
                            adressée à la Mère de Dieu, avec pour demande de prier pour eux deux.
                        </p>
                        <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="5"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="6"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="7"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="8"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid" src="../../assets/img/foto/ALgeria/alg/1.jpg"
                                        alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/alg/2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/alg/3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/alg/4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/alg/5.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/alg/6.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/alg/7.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/alg/8.jpg" alt="fourth slide" />
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary butmodel" routerLink="/contact"
                            data-dismiss="modal" routerLink="/Contact">
                            Devis
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/ALgeria/Konst/PRINC.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">Constantine</h4>
            <!--Text-->
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <p class="card-text pb-5">
            Constantine est la perle orientale de l'Algérie, située sur la côte méditerranéenne, près de la frontière tunisienne. Il
            est situé sur un plateau montagneux à environ 640 mètres d'altitude, des deux côtés d'une gorge profonde. Constantine,
            coupée par des falaises abruptes, est unie par des ponts, grâce à laquelle on l'appelle aussi la «ville des sept ponts».
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter3">
                En voir plus
            </button>
        </div>
        <div class="modal fade telo" id="exampleModalCenter3" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Constantine</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Constantine est l'une des villes les plus insolites du monde. . Si vous regardez la ville de la mer, il semble qu’elle
                        plane au-dessus du sol.
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="4"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="5"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid" src="../../assets/img/foto/ALgeria/Konst/K1.jpg"
                                        alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/Konst/K2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/Konst/K3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/Konst/K4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/Konst/K5.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/Konst/K6.jpg"
                                        alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary butmodel" routerLink="/contact"
                            data-dismiss="modal" routerLink="/Contact">
                            Devis
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- Card deck -->
<!-- Card -->

<!--DEUXIEME-->

<!-- Card deck -->
<div class="col-md-12 mx-auto card-deck mt-5">
    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/ALgeria/DJ/pr.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">Djemila</h4>
            <!--Text-->
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <p class="card-text pb-5">
            C'est une ville ancienne où se trouvent les ruines les plus romaines d'Afrique du Nord.
            les ruines sont bien préservées et vous pourrez admirer de superbes mosaïques dans le
            musée à proximité. Depuis 1982, Jemila est inscrite au patrimoine mondial de l’UNESCO.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter4">
                En voir plus
            </button>
        </div>
    </div>
    <!-- Card -->
    <div class="modal fade telo" id="exampleModalCenter4" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Djemila</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Située à 900 m d'altitude, la ville, avec ses temples, ses basiliques, ses arcs de triomphe et ses bâtiments
                        résidentiels, est un exemple intéressant d'urbanisme romain ancien adapté aux conditions du terrain montagneux.
                    </p>
                    <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="4"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="5"></li>

                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 img-fluid" src="../../assets/img/foto/ALgeria/DJ/1.jpg"
                                    alt="First slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/ALgeria/DJ/2.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/ALgeria/DJ/3.jpg"
                                    alt="Third slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/ALgeria/DJ/4.jpg"
                                    alt="fourth slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/ALgeria/DJ/5.jpg"
                                    alt="fourth slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/ALgeria/DJ/6.jpg"
                                    alt="Third slide" />
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary butmodel" routerLink="/contact" data-dismiss="modal"
                        routerLink="/Contact">
                        Devis
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/ALgeria/nourr/1.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <!--Title-->
            <h4 class="card-title">Nourriture</h4>
            <!--Text-->
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <p class="card-text pb-5">
                La cuisine nationale algérienne a réussi à préserver son originalité et sa saveur locale. La cuisine de
                ce pays est un élément particulier de la culture, qui est apprécié par les amateurs de tourisme gastronomique et les
                gourmets les plus sophistiqués.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter5">
                En voir plus
            </button>
        </div>
        <div class="modal" tabindex="-1" id="exampleModalCenter5" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title">Nourriture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators4" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="4"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="5"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="5"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/ALgeria/nourr/1a.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                        src="../../assets/img/foto/ALgeria/nourr/2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                        src="../../assets/img/foto/ALgeria/nourr/2a.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                        src="../../assets/img/foto/ALgeria/nourr/lep.JPG"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/nourr/4.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/nourr/5.jpg"
                                        alt="Third slide" />
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators4" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators4" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>





    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/ALgeria/hotels/konst/prem.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">Hotels</h4>
            <!--Text-->
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <p class="card-text pb-5">
            Le pays développe activement l'infrastructure hôtelière.
            Vous pouvez maintenant trouver un hôtel pour tous les goûts, équipé de tout ce dont le touriste à besoin.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter6">
                En voir plus
            </button>
        </div>
        <div class="modal fade telo" id="exampleModalCenter6" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Hotels</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Four Points by Sheraton Oran <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
                        <p>Situé à Oran, le Four Points by Sheraton Oran possède un restaurant, une piscine extérieure ouverte en saison, une salle
                        de sport et un bar. Doté d'un jardin, cet hôtel 5 étoiles propose des hébergements comprenant tous la climatisation, une
                        connexion Wi-Fi gratuite et une salle de bains privative. Une réception ouverte 24h/24 ainsi que des services d'étage et
                        de change sont assurés.</p>

                        <div id="carouselExampleIndicators5" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators5" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators5" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators5" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators5" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators5" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/ALgeria/hotels/oran/1.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/oran/2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/oran/3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/oran/4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/oran/5.jpg"
                                        alt="fifth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-2mrwf5" target="_blank">
                            Plus d'informations ici
                        </a>

                        <h3 class="pourpadding">Le Meridien Oran Hotel<i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
                        <p>Situé à Oran, Le Méridien se trouve sur la côte méditerranéenne. Il dispose d'une piscine extérieure, d'un spa et d'un
                        centre de remise en forme offrant une vue sur la mer. Différents restaurants seront également à votre disposition.</p>
                        <p>L'aéroport international d'Oran est accessible en 15 minutes en voiture. Le musée Ahmed Zabana se trouve à 2 km de
                        l'hôtel et la Promenade de Ibn Badis à 3 km. Un parking privé gratuit sera à votre disposition sur place</p>

                        <div id="carouselExampleIndicators6" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators6" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators6" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators6" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators6" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators6" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/ALgeria/hotels/oran/m1.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/oran/m2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/oran/m3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/oran/m4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/oran/m5.jpg"
                                        alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators6" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators6" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-mb1tuG" target="_blank">
                            Plus d'informations ici
                        </a>


                        <h3 class="pourpadding">Sofitel Algiers Hamma Garden/Alger <i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
                        <p>Located in Sharjah, 3.9 km from Sharjah Aquarium, Al Bait Sharjah features views of the city.
                            Featuring a 24-hour front
                            desk, this property also boasts a restaurant and an outdoor pool. The resort features a
                            fitness centre and a business
                            centre.Situé à Sharjah, à 3,9 km de l'aquarium de Sharjah, l'Al Bait Sharjah offre une belle
                            vue sur la ville. Doté d'une
                            réception ouverte 24h / 24, cet établissement possède également un restaurant et une piscine
                            extérieure. Le complexe
                            dispose d'un centre de remise en forme et d'un centre d'affaires.</p>

                        <div id="carouselExampleIndicators8" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators8" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators8" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators8" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators8" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators8" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/ALgeria/hotels/alger/1a.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/alger/1b.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/alger/1.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/alger/4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/alger/3.jpg"
                                        alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators8" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators8" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-klCmP1" target="_blank">
                            Plus d'informations ici
                        </a>



                        <h3 class="pourpadding">El Djazair /Alger <i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>

                        <p>Doté d'un jardin et d'un bar, l'El Djazair est situé à Alger. Il propose gratuitement une connexion Wi-Fi et un parking
                        privé.
                        
                        Toutes les chambres de l'hôtel comprennent une armoire et une télévision à écran plat.
                        </p>
                        <p>
                            Sur place, vous profiterez également d'une piscine extérieure. Enfin, l'aéroport d'Alger-Houari Boumédiène se trouve
                            quant à lui à 17 km de l'El Djazair.
                        </p>

                        <div id="carouselExampleIndicators9" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators9" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators9" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators9" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators9" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/ALgeria/hotels/alger/a1.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"  src="../../assets/img/foto/ALgeria/hotels/alger/a2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"  src="../../assets/img/foto/ALgeria/hotels/alger/a3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"  src="../../assets/img/foto/ALgeria/hotels/alger/a4.jpg"
                                        alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators9" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators9" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-BBvtrjp" target="_blank">
                            Plus d'informations ici
                        </a>


                        <h3 class="pourpadding">Constantine Marriott Hotel <i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>

                        <p>Le Constantine Marriott Hotel propose des hébergements à Constantine et une connexion Wi-Fi gratuite dans l'ensemble de
                        l'établissement. Il comporte un bar et un restaurant.

                        </p>
                        <p>
                            L'aéroport international de Constantine-Mohamed Boudiaf, le plus proche du Constantine Marriott Hotel, se situe à 6 km.
                        </p>

                        <div id="carouselExampleIndicators10" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators10" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators10" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators10" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators10" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators10" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/ALgeria/hotels/konst/1a.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/konst/1.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/konst/2.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/konst/3.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/konst/5.jpg"
                                        alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators10" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators10" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-FJ2LHQ" target="_blank">
                            Plus d'informations ici
                        </a>


                        <h3 class="pourpadding">Novotel Constantine<i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i> <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i></h3>

                        <p>Le Novotel Constantine offre une vue sur la place des Martyres et La Brèche, à seulement 10 minutes de marche de la
                        gare. Il dispose d'un parking souterrain gratuit, d'un bar sur place et d'un restaurant.
                            Décorées dans un style contemporain, les chambres et les suites du Novotel Constantine possèdent une télévision à écran
                            LCD. Chacune comporte un minibar, tandis que d'autres sont également pourvues d'un salon séparé.
                        </p>

                        <div id="carouselExampleIndicators11" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators11" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators11" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators11" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators11" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/ALgeria/hotels/konst/k1.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/konst/k2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/konst/k3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/ALgeria/hotels/konst/k4.jpg"
                                        alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators11" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators11" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-9oxlt2" target="_blank">
                            Plus d'informations ici
                        </a>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Card -->
    
</div>
<!-- Card deck -->
<!-- Card -->

<app-footer></app-footer>