<app-main-nav></app-main-nav>
<section>
    <div>
        <img src="../../assets/img/foto/Doubai/long.jpg" class="img" alt="Doubai" />
    </div>
</section>
<div id="apropos" class="shadow apropos">
<article class="titre p-5 justify">
    <p>
        Les Émirats arabes unis sont une oasis au milieu du désert, associés aux mots «luxe» et «richesse». Ici, les hôtels les
        plus hauts du monde sont construits au-dessus du sable et des îles artificielles sont créées dans l'océan.
        C'est une  pays étonnant, tout voyageur, même s’il a visiter de nombreux coins du globe, découvrira beaucoup de choses nouvelles et
        surprenantes dans ce pays. Les Émirats arabes unis sont simplement fascinés par l'ampleur des tournois mondiaux, des
        festivals et des spectacles.
    </p>
</article>
</div>
<h2 class="text-center">Destinations les plus courantes</h2>

<!-- Card deck -->
<div class="col-md-12 mx-auto card-deck mt-5">
    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/Doubai/doubai/premier.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">Dubai</h4>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <!--Text-->
            <p class="card-text pb-5">
                Connue mondialement pour ses impressionnants projets touristiques à l’instar de l’hôtel Burj-Al-arab (un hôtel
                luxueux), ses immeubles gigantesques tels que le Burj Khalifa (un des plus hauts de la planète), ses projets immobiliers
                hors normes comme Palm Islands (presqu’île en forme de palmier géant). C’est pour cela qu’on l’appelle « la ville
                du démesure).
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter">
                En voir plus
            </button>
        </div>
    </div>
    <!-- Card -->
    <div class="modal fade telo" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Dubai</h5>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 80px;" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Dubaï peut légitimement être appelée la huitième merveille du monde: sur le territoire de cet émirat, probablement,
                        toutes la modernité que vous pouvez imaginer sont rassemblées.
                    </p>

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Doubai/doubai/1.jpg"
                                    alt="First slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/doubai/2.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/doubai/3.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/doubai/3a.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/doubai/4.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/doubai/5.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/doubai/6.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/doubai/7.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/doubai/8.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/doubai/9.jpg"
                                    alt="Second slide" />
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary butmodel" routerLink="/contact" data-dismiss="modal"
                        routerLink="/Contact">
                        Devis
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/Doubai/sh/princ.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">Sharjah</h4>
            <!--Text-->
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <p class="card-text pb-5">
                Contrairement à Dubaï, Sharjah n’est généralement pas envahie par les touristes ou les groupes de touristes, et vous
                pourrez apprécier l’atmosphère d’une ville authentique des Émirats arabes unis.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter2">
                En voir plus
            </button>
        </div>
        <div class="modal fade telo" id="exampleModalCenter2" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sharjah</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Sharjah est relativement petit et si vous vous contentez de vous rendre à 10 minutes de la ville en voiture, vous serez
                            dans le désert d’Arabie. Cependant, de nombreuses personnes utilisent cet proximité pour s’amuser le week-end en organisant un
                            barbecue avec des amis ou en famille sur le sable du désert.
                        </p>

                        <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="4"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="5"></li>
                                <li data-target="#carouselExampleIndicators1" data-slide-to="6"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/Doubai/sh/1.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/sh/2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/sh/3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/sh/4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/sh/5.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/sh/6.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/sh/7.jpg"
                                        alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary butmodel" routerLink="/contact" data-dismiss="modal"
                            routerLink="/Contact">
                            Devis
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/Doubai/abou/card.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">Abu Dhabi</h4>
            <!--Text-->
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <p class="card-text pb-5">
                Il y'a enormément de divertissement a Abu Dhabi. Vous pouvez voyager seul, avec
                des amis, en famille ou même en voyage d’affaires; Abu Dhabi a quelque chose pour vous. Peu importe si vous
                êtes un un jeune couple une famille ou une personne mûre, cette ville saura vous divertir de toutes les manières
                imaginables.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter3">
                En voir plus
            </button>
        </div>
        <div class="modal fade telo" id="exampleModalCenter3" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Abu Dhabi</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Abu Dhabi; l'oasis de la modernité; possède une culture riche, charismatique qui est bien préservée. De par
                            sa nature multiculturelle et ses nationalités combinées, la ville vous offre des occasions uniques de vivre des
                            moments mémorables pour les voyageurs du monde entier.
                        </p>
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="4"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="5"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="6"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="7"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="8"></li>
                                <li data-target="#carouselExampleIndicators2" data-slide-to="9"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Doubai/abou/1.jpg"
                                        alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/abou/2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/abou/2a.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/abou/2b.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/abou/3.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/abou/4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/abou/5.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/abou/5a.jpg" alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/abou/6.jpg" alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/abou/7.jpg" alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary butmodel" routerLink="/contact" data-dismiss="modal"
                            routerLink="/Contact">
                            Devis
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- Card deck -->
<!-- Card -->

<!--DEUXIEME-->

<!-- Card deck -->
<div class="col-md-12 mx-auto card-deck mt-5">
    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/Doubai/palm/card1.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">Palm Jumeirah</h4>
            <!--Text-->
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <p class="card-text pb-5">
            Pour ceux qui recherchent des vacances insulaires, Dubaï propose des îles artificielles uniques. Bien que la plupart
            soient encore en construction, le Palm Jumeirah existe depuis plus d'une décennie et propose des plages, des hôtels et
            des restaurants.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter4">
                En voir plus
            </button>
        </div>
    </div>
    <!-- Card -->
    <div class="modal fade telo" id="exampleModalCenter4" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Palm Jumeirah</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Inspirée par l’arbre traditionnel de Dubaï, cette île a la forme d’un énorme palmier qui se répand dans l’océan. Encore
                        mieux que de visiter le Palm Jumeirah est de faire un tour en hélicoptère et de le voir d'en haut.
                    </p>

                    <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Doubai/palm/slide1.jpg"
                                    alt="First slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/palm/slide2.jpg"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/palm/slide3.jpg"
                                    alt="Third slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/palm/slide4.jpg"
                                    alt="fourth slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../assets/img/foto/Doubai/palm/slide5.jpg"
                                    alt="fourth slide" />
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary butmodel" routerLink="/contact" data-dismiss="modal"
                        routerLink="/Contact">
                        Devis
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/Doubai/food/card.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <!--Title-->
            <h4 class="card-title">Nourriture</h4>
            <!--Text-->
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <p class="card-text pb-5">
                La nourriture traditionnelle des Émirats arabes unis utilise beaucoup de viande, de céréales et de produits laitiers.
                Les légumes sont faciles à cultiver, comme les concombres et les tomates dans un sol fertile, et sont fortement présents
                dans le régime alimentaire.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter5">
                En voir plus
            </button>
        </div>
        <div class="modal" tabindex="-1" id="exampleModalCenter5" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title">Nourriture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                
                    <div class="modal-body">
                        <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators4" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="4"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="5"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="5"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="7"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="8"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="9"></li>
                                <li data-target="#carouselExampleIndicators4" data-slide-to="10"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid" src="../../assets/img/foto/Doubai/food/1Balaleet.jpg"
                                        alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/food/2food-3070082_1920.jpg"
                                        alt="Second slide" />
                                </div>
                              <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/food/4hummus-1058003_1920.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/food/5hummus-1649231_1920.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/food/6Machboos.jpg" alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/food/7manakich.jpg" alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/food/8seafood-platter-1232389_1920.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/food/9Kamir.jpg" alt="fourth slide" />
                                </div>
                        
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators4" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators4" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>





    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4 shadow">
        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/img/foto/Doubai/hotel/card.jpg" alt="Card image cap" />
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">Hotels</h4>
            <!--Text-->
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
            <p class="card-text pb-5">
                Découvrez les meilleures Hôtels de Emirats Arabes Unis ( Dubai, Sharjah, Abu Dhabi)
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                data-target="#exampleModalCenter6">
                En voir plus
            </button>
        </div>
        <div class="modal fade telo" id="exampleModalCenter6" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Hotels</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Address Downtown Dubai <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow"
                                class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
                        <p>S'élevant à 302 mètres sur 63 étages, l'Address Downtown est un véritable lieu d'intérêt de luxe, situé en plein centre
                        de Dubaï. L'hôtel dispose d'un accès direct via un pont au Dubai Mall, (le plus grand centre commercial du monde).</p>
                        <p>Les 220 chambres et suites sont équipées d'une connexion Wi-Fi haut débit, de télévisions interactives munies
                        d'appareils Apple AirPlay, d'une interface de divertissement, de dressings ornées de miroirs Hollywood et d'un coin
                        salon doté d'un canapé d'angle. Leur salle de bains en marbre est pourvue de 2 lavabos, d'une baignoire et d'une douche
                        à effet pluie.
                        </p>

                        <div id="carouselExampleIndicators5" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators5" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators5" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators5" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators5" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators5" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/Doubai/hotel/dub/1.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/dub/2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/dub/3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/dub/4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/dub/5.jpg"
                                        alt="fifth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-mT2JYs" target="_blank">
                            Plus d'informations ici
                        </a>

                        <h3 class="pourpadding">The Oberoi Dubai<i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
                        <p>L’établissement The Oberoi, Dubai est un hôtel de luxe contemporain situé à Dubaï et doté d'un design mettant en valeur
                        la hauteur, la lumière et l'espace. Bénéficiant d'un emplacement privilégié parmi les hôtels des Émirats Arabes Unis, il
                        offre une vue dégagée sur le typique Burj Khalifa et se trouve à quelques minutes du centre commercial Dubai Mall et du
                        centre financier international de Dubai, facilement accessibles grâce à la navette gratuite proposée par l'hôtel.</p>
                        <p>Luxueuses, spacieuses et élégamment aménagées, les 252 chambres et suites dégagent une ambiance chaleureuse et
                        accueillante. Leur raffinement est également accentué par la présence de parquet, de riches étoffes, de tapis touffetés
                        à la main et d'œuvres d'art spécialement commandées pour l'hôtel.</p>

                        <div id="carouselExampleIndicators6" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators6" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators6" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators6" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators6" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators6" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/Doubai/hotel/dub/d1.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/dub/d2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/dub/d3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/dub/d4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/dub/d5.jpg"
                                        alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators6" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators6" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-qvsM4A" target="_blank">
                            Plus d'informations ici
                        </a>


                        <h3 class="pourpadding">Al Bait Sharjah <i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>
                        <p>Located in Sharjah, 3.9 km from Sharjah Aquarium, Al Bait Sharjah features views of the city. Featuring a 24-hour front
                        desk, this property also boasts a restaurant and an outdoor pool. The resort features a fitness centre and a business
                        centre.Situé à Sharjah, à 3,9 km de l'aquarium de Sharjah, l'Al Bait Sharjah offre une belle vue sur la ville. Doté d'une
                        réception ouverte 24h / 24, cet établissement possède également un restaurant et une piscine extérieure. Le complexe
                        dispose d'un centre de remise en forme et d'un centre d'affaires.</p>

                        <div id="carouselExampleIndicators8" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators8" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators8" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators8" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators8" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators8" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/Doubai/hotel/sh/1.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/sh/2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/sh/3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/sh/4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/sh/5.jpg"
                                        alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators8" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators8" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-KhR9q0" target="_blank">
                            Plus d'informations ici
                        </a>



                        <h3 class="pourpadding">72 Hotel Sharjah <i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>

                        <p>Situé à Charjah, à seulement 5 minutes à pied de la promenade de la corniche, le 72 Hotel propose une connexion Wi-Fi
                        gratuite et une salle de sport. Des massages peuvent être prodigués par du personnel qualifié.
                        </p>
                        <p>
                            Ce quartier (Al Majaz) est un choix idéal pour les voyageurs qui s'intéressent à ces thèmes : des rues propres, les
                            balades sur la plage et les marchés.
                        </p>

                        <div id="carouselExampleIndicators9" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators9" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators9" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators9" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators9" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators9" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/Doubai/hotel/sh/sh2.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/sh/sh1.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/sh/sh3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/sh/sh4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/sh/sh5.jpg"
                                        alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators9" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators9" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-qZ6Ue0" target="_blank">
                            Plus d'informations ici
                        </a>


                        <h3 class="pourpadding">Rosewood Abu Dhabi <i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i></h3>

                        <p>Directement relié à la clinique Cleveland et aux boutiques de luxe du centre commercial The Galleria, le Rosewood Abu
                        Dhabi vous accueille sur l'île d'Al Maryah, au cœur du nouveau centre international des affaires. Il dispose de 148
                        chambres et de 41 suites donnant sur le golfe Persique et le paysage urbain d'Abou Dabi.

                        </p>
                        <p>
                            Ce quartier (Al Maryah Island) est un choix idéal pour les voyageurs qui s'intéressent à ces thèmes : le shopping de
                            luxe, la relaxation et la nourriture.
                        </p>

                        <div id="carouselExampleIndicators10" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators10" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators10" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators10" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators10" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators10" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/Doubai/hotel/ab/1.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/ab/2.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/ab/3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/ab/4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/ab/5.jpg"
                                        alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators10" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators10" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-rytVOm" target="_blank">
                            Plus d'informations ici
                        </a>


                        <h3 class="pourpadding">Emirates Palace Hotel Abu Dhabi<i id="yellow"
                                class="fa fa-star" aria-hidden="true"></i> <i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                aria-hidden="true"></i></h3>

                        <p>Situé sur les rives du golfe Persique et offrant une vue sur sa baie naturelle privée, l'établissement Emirates Palace
                        Hotel vous accueille sur une plage privée longue de 1,3 km. Il affiche une décoration faite de mosaïques de verre,
                        d'argent et d'or, évoquant la riche histoire de l'hospitalité de l'Arabie. Cet hôtel de luxe propose des équipements de
                        technologie de pointe ainsi que 14 bars et restaurants pour vous offrir le meilleur des nouveau et ancien mondes.
                        </p>

                        <div id="carouselExampleIndicators11" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators11" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators11" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators11" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators11" data-slide-to="3"></li>
                                <li data-target="#carouselExampleIndicators11" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid"
                                        src="../../assets/img/foto/Doubai/hotel/ab/ab1.jpg" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/ab/ab5.jpg"
                                        alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/ab/ab3.jpg"
                                        alt="Third slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/ab/ab4.jpg"
                                        alt="fourth slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../assets/img/foto/Doubai/hotel/ab/ab2.jpg" alt="fourth slide" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators11" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators11" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <a class="btn btn-info mt-3 mb-3 butmodel" href="http://www.booking.com/Share-8kSo9X" target="_blank">
                            Plus d'informations ici
                        </a>


                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
</div>
<!-- Card deck -->
<!-- Card -->

<app-footer></app-footer>