h5 {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
.apropos {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: justify;
}

h2 {
  margin-top: 10vh;
}

.img {
  max-width: 100vw;
  min-width: 100vw;
}
.telo {
  text-align: center !important;
}
.incard {
  max-height: 500px;
  padding-top: 5px;
}

p {
  text-align: justify;
}
.pourpadding {
  padding-top: 25px;
}

#yellow {
  color: yellow;
}

i {
  font-size: 0.9em;
  color: rgb(211, 48, 48);
}
.buttcard {
  position: absolute;
  bottom: 5px;
  left: 35%;
  background-color: #ff6347 !important;
  border: 1px solid #ff6347 !important;
}

.butmodel {
  background-color: #ff6347 !important;
  border: 1px solid #ff6347 !important;
}

.ligne {
  background-color: #ff6347;
  height: 2px;
}

@media screen and (max-width: 1024px) {
  img {
    width: 100%;
    height: 53vh;
  }
}

@media screen and (max-width: 500px) {
  img {
    width: 100%;
    height: 27vh;
  }
}
