<app-main-nav></app-main-nav>

<div class="banner-header"><img class="img-fluid" id="img-maroc-header" src="../../assets/img/foto/morocco/maroc-header-2 (2).jpg" alt="Maroc">
</div>
<div id="apropos" class="shadow apropos justify">
<article class="titre p-5 justiy">
    <p>
        Le temps est magnifique toute l'année, la foule est animée et conviviale et les coins calmes vous remplissent de
        paix et de sérénité. 
        La diversité de la nature et de l'atmosphère de ce beau pays n'est qu'une des nombreuses raisons de
        visiter le Maroc.
        Sans parler des étendues de paysages naturels à vous couper le souffle. Parmi tous les
        endroits
        dans le monde que vous pourriez visiter, le Maroc est un bon choix
        pour les voyageurs qui souhaitent vivre quelque chose de nouveau et dépaysant.
    </p>

</article>
</div>
<h2 class="text-center mt-5"> Destinations les plus courantes <h2>


        <!-- Card deck 1 -->
        <div class="col-md-12 mx-auto card-deck mt-5">

            <!-- Card 1 -->
            <div class="card mb-4 shadow">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="../../assets/img/foto/morocco/marrakech1 (Copier).jpg"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body text-center">

                    <!--Title-->
                    <h4 class="card-title">Marrakech</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
                    <!--Text-->
                    <p class="card-text pb-5">Il y a beaucoup à voir et à faire à Marrakech. Une journée entière, peut être
                        consacrée à flâner dans les souks à la
                        recherche des meilleures affaires. La ville offre plusieurs sites historiques
                        ainsi que des musées.</p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                        data-target="#exampleModalCenter">
                        En voir plus
                    </button>

                </div>

    </div>
            <!-- Modal 1 -->
            <div class="modal fade telo" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Marrakech</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Marrakech est l'une des villes marocaines les plus visitées et une ville qui vous offrira des expériences authentiques
                                et inoubliables. Aussi appelé «La Marrakech rouge» en raison de la couleur de ses murs, la plupart des visiteurs tombent
                                amoureux de la ville. En d'autres termes, si vous ne pouvez voyager que dans un seul lieu marocain, je vous recommande
                                vivement de placer Marrakech dans vos vacances.
                            </p>

                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100 img-fluid" src="../../assets/img/foto/morocco/marrakech2.jpg"
                                            alt="First slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/marrakech3.jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/marrakech4.jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/marrakech5.jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/marrakech6.jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/marrakech7.jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/marrakech8.jpg"
                                            alt="Second slide" />
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary buttcard2"  data-dismiss="modal"
                                routerLink="/Contact">
                                Devis
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card mb-4 shadow">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="../../assets/img/foto/morocco/agadir-card.jpg">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body text-center">

                    <!--Title-->
                    <h4 class="card-title">Agadir</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
                    <!--Text-->
                    <p class="card-text pb-5">
                        Agadir a été complètement reconstruite à la suite d’un tremblement de terre
                        dévastateur en 1960. C’est maintenant la
                        première destination du pays pour le soleil, le sable, des bars animées.
                    </p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                        data-target="#exampleModalCenter2">
                        En voir plus
                    </button>
                </div>
                <!-- Modal 2 -->
                <div class="modal fade telo" id="exampleModalCenter2" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Agadir</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    La nouvelle Marina d’Agadir est bordée de boutiques, de restaurants et d’appartements.
                                    Des hôtels de faible hauteur
                                    séparent le centre de la magnifique plage d’Agadir, située à 10 km au sud. Diverses
                                    activités sont proposées ici,
                                    notamment la planche à voile et le ski nautique.
                                </p>

                            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="5"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="6"></li>
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="7"></li>

                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100 img-fluid" src="../../assets/img/foto/morocco/agadir1 (Copier).jpg"
                                            alt="First slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/agadir2 (Copier).jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/agadir3 (Copier).jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/agadir4 (Copier).jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/agadir5 (Copier).jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/agadir7 (Copier).jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/agadir8 (Copier).jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/agadir9 (Copier).jpg"
                                            alt="Second slide" />
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-primary buttcard2"  data-dismiss="modal"
                                    routerLink="/Contact">
                                    Devis
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Card -->

            <!-- Card 3 -->
            <div class="card mb-4 shadow">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="../../assets/img/foto/morocco/essaouira1 (Copier).jpg"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body text-center">

                    <!--Title-->
                    <h4 class="card-title">Essaouira</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
                    <!--Text-->
                    <p class="card-text pb-5">
                        Connue sous le nom de «Ville éolienne d'Afrique», elle attire de nombreux
                        surfeurs entre avril et novembre, mais la
                        majorité des visiteurs s'y rendent au printemps et en automne pour flâner dans les ruelles aux
                        senteurs d'épices et les
                        avenues bordées de palmiers de la médina fortifiée.
                    </p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                        data-target="#exampleModalCenter3">
                        En voir plus
                    </button>

                </div>
                <!-- Modal 3 -->
                <div class="modal fade telo" id="exampleModalCenter3" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Essaouira</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                Fun Fact: Si vous êtes un(e) fan de Game of Thrones, vous reconnaîtrez Essaouria comme
                                la toile de fond à
                                partir de laquelle Daenerys a acheté son armée de soldats Immaculés.
                                </p>

                                <div id="carouselExampleIndicators3" class="carousel slide pt-3" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators3" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators3" data-slide-to="4"></li>
                                        <li data-target="#carouselExampleIndicators3" data-slide-to="5"></li>
                                        <li data-target="#carouselExampleIndicators3" data-slide-to="6"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100 img-fluid" src="../../assets/img/foto/morocco/essaouira2 (Copier).jpg"
                                                alt="First slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/essaouira3 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/essaouira4 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/essaouira5 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/essaouira6 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/essaouira7 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/essaouira8 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-primary buttcard2"  data-dismiss="modal"
                                    routerLink="/Contact">
                                    Devis
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Card 3 -->

        </div>
        <!-- Card deck 1 -->

        <!-- Card deck 1 -->
        <div class="col-md-12 mx-auto card-deck mt-5">


            <!-- Card 1 -->
            <div class="card mb-4 shadow">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="../../assets/img/foto/morocco/fés-8 (Copier).jpg">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body text-center">

                    <!--Title-->
                    <h4 class="card-title">Fés</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
                    <!--Text-->
                    <p class="card-text pb-5">
                        Fès est à la fois la plus ancienne et la plus impressionnante. Sa vieille ville, ou médina, est classée au patrimoine
                        mondial de l'UNESCO et abrite la plus ancienne université du monde.
                    </p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                        data-target="#exampleModalCenter5">
                        En voir plus
                    </button>
                </div>
                <!-- Modal 2 -->
                <div class="modal fade telo" id="exampleModalCenter5" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Fés</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            <p>
                                Fès est célèbre pour son ancienne ville fortifiée, Fez el Bali, la médina la mieux
                                préservée du monde arabe et la plus
                                ancienne université du monde. Une ville que beaucoup comparent à la vieille ville
                                fortifiée de Jérusalem. Couvrant une
                                superficie d’environ 2,8 km2 et compte environ 9500 rues, il s’agit de l’une des zones
                                urbaines les plus importantes au
                                monde sans voitures.
                            </p>

                                <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators4" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators4" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators4" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators4" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators4" data-slide-to="4"></li>
                                        <li data-target="#carouselExampleIndicators4" data-slide-to="5"></li>
                                        <li data-target="#carouselExampleIndicators4" data-slide-to="6"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100 img-fluid" src="../../assets/img/foto/morocco/Fés-1 (Copier).jpg"
                                                alt="First slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/Fés-2 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/Fés-3 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/Fés-4 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/Fés-5 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/Fés-6 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/Fés-7 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators4" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators4" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-primary buttcard2"  data-dismiss="modal"
                                    routerLink="/Contact">
                                    Devis
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Card -->

            <!-- Card 2 -->
            <div class="card mb-4 shadow">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="../../assets/img/foto/morocco/food-maroc-6.jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title"><i class="fa fa-cutlery mr-2 mb-1" aria-hidden="true"></i>Nourriture</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
                    <!--Text-->
                    <p class="card-text pb-5">
                        La cuisine marocaine est certainement l'une des cuisines les plus variées et délicieuses que
                        vous pouvez essayer. </p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                        data-target="#exampleModalCenter4">
                        En voir plus
                    </button>

                </div>

            </div>
            <!-- Modal 1 -->
            <div class="modal fade telo" id="exampleModalCenter4" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Specialités Marocaine</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExampleIndicators5" class="carousel slide pt-3" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators5" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators5" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators5" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators5" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators5" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators5" data-slide-to="5"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100 img-fluid" src="../../assets/img/foto/morocco/food-maroc-1.jpg"
                                            alt="First slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/food-maroc-2.jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/food-maroc-4.jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/food-maroc-3.jpg"
                                            alt="Second slide" />f
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/food-maroc-7.jpg"
                                            alt="Second slide" />
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 h-100 img-fluid" src="../../assets/img/foto/morocco/food-maroc-8.jpg"
                                            alt="Second slide" />
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card mb-4 shadow">
                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="../../assets/img/foto/morocco/card-hotel-maroc.jpg"
                        alt="Card image cap" />
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title">Hotels</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto ligne" style="width: 20px;" />
                    <!--Text-->
                    <p class="card-text pb-5">
                        Découvrez les meilleures Hôtels du Maroc ( Marrakech, Agadir, Fés, Essaouira)
                    </p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary buttcard" data-toggle="modal"
                        data-target="#exampleModalCenter6">
                        En voir plus
                    </button>
                </div>
                <div class="modal fade telo" id="exampleModalCenter6" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">hotels</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3>Riad Lavande (Marrakech)<i id="yellow" class="fa fa-star" aria-hidden="true"></i> <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i>
                                </h3>
                                <p>Situé à Marrakech, le Riad Lavande est un complexe 5 étoiles offrant une vue sur la
                                    piscine. Bénéficiant d'un bel
                                    emplacement dans le quartier de la Médina, l'établissement vous accueille à 1 km du
                                    palais de La Bahia.</p>

                                <div id="carouselExampleIndicators6" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators6" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleIndicators6" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators6" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators6" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators6" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100 img-fluid"
                                                src="../../assets/img/foto/morocco/Hotel marrakech/hotel-2 (Copier).jpg"
                                                alt="First slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel marrakech/hotel-3 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel marrakech/hotel-4 (Copier).jpg"
                                                alt="Third slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel marrakech/hotel-5 (Copier).jpg"
                                                alt="fourth slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel marrakech/hotel-6 (Copier).jpg"
                                                alt="fifth slide" />
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators6" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators6" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <a class="btn btn-info mt-3 mb-3 buttcard2"
                                    href="https://www.booking.com/hotel/ma/villa-lavande.fr.html" target="_blank"> Plus
                                    d'informations ici </a>

                                <h3>Les Jardins De La Koutoubia (Marrakech)<i id="yellow" class="fa fa-star" aria-hidden="true"></i> <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i>
                                </h3>
                                <p class="mt-2 mb-2">Le luxueux hôtel Les Jardins De La Koutoubia est situé à 2 minutes
                                    de marche de la célèbre place Jamaâ El Fna. Il
                                    propose un spa Carita, un jacuzzi et une piscine extérieure entourée de palmiers.

                                    S'ouvrant sur une terrasse, toutes les chambres spacieuses et climatisées sont
                                    équipées d'un minibar et d'une
                                    télévision. Certaines sont dotées d'un salon élégant. Leur salle de bains privative
                                    est pourvue d'articles de toilette.
                                    Par ailleurs, le restaurant Les Jardins de Bala vous servira des spécialités
                                    indiennes. Vous aurez aussi la possibilité
                                    de déguster un verre au piano-bar ou sur le toit-terrasse.</p>

                                <div id="carouselExampleIndicators7" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators7" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleIndicators7" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators7" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators7" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators7" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100 img-fluid"
                                                src="../../assets/img/foto/morocco/Hotel marrakech/hotel2-1 (Copier).jpg"
                                                alt="First slie" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel marrakech/hotel2-2 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel marrakech/hotel2-3 (Copier).jpg"
                                                alt="Third slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel marrakech/hotel2-4 (Copier).jpg"
                                                alt="fourth slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel marrakech/hotel2-5 (Copier).jpg"
                                                alt="fifth slide" />
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators7" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators7" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <a class="btn btn-info mt-3 mb-3 buttcard2"
                                    href="https://www.booking.com/hotel/ma/les-jardins-de-la-koutoubia.fr.html"
                                    target="_blank"> Plus d'informations ici </a>
                                <!-- HOTEL 1 -->
                                <h3>Atlantic Hotel Agadir <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                        id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow"
                                        class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                        aria-hidden="true"></i></h3>
                                <p>Alliant modernité et tradition marocaine, l'Atlantic Hotel dispose d'une piscine
                                    extérieure et de deux terrasses. Il se situe dans le centre d'Agadir à 10 minutes de
                                    la plage.</p>

                                <div id="carouselExampleIndicators8" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators8" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleIndicators8" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators8" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators8" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators8" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100 img-fluid"
                                                src="../../assets/img/foto/morocco/Hotel Agadir/hotel1-1 (Copier).jpg"
                                                alt="First slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Agadir/hotel1-2 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Agadir/hotel1-3 (Copier).jpg"
                                                alt="Third slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Agadir/hotel1-4 (Copier).jpg"
                                                alt="fourth slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Agadir/hotel1-5 (Copier).jpg"
                                                alt="fifth slide" />
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators8" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators8" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <a class="btn btn-info mt-3 mb-3 buttcard2"
                                    href="https://www.booking.com/hotel/ma/villa-lavande.fr.html" target="_blank"> Plus
                                    d'informations ici </a>
                                <h3>Royal Atlas & Spa (Agadir) <i id="yellow" class="fa fa-star" aria-hidden="true"></i> <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i>
                                </h3>
                                <p>Situé en bord de mer, le Royal Atlas & Spa est un établissement 5 étoiles proposant
                                    des chambres climatisées dotées d'un
                                    balcon. Il possède 3 restaurants ainsi que des piscines intérieures et extérieures.
                                </p>

                                <div id="carouselExampleIndicators9" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators9" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleIndicators9" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators9" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators9" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators9" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100 img-fluid"
                                                src="../../assets/img/foto/morocco/Hotel Agadir/hotel2-1 (Copier).jpg"
                                                alt="First slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Agadir/hotel2-2 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Agadir/hotel2-3 (Copier).jpg"
                                                alt="Third slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Agadir/hotel2-4 (Copier).jpg"
                                                alt="fourth slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Agadir/hotel2-5 (Copier).jpg"
                                                alt="fifth slide" />
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators9" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators9" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <a class="btn btn-info mt-3 mb-3 buttcard2"
                                    href="https://www.booking.com/hotel/ma/royal-atlas-et-spa.fr.html" target="_blank">
                                    Plus
                                    d'informations ici </a>
                                <h3>Hotel Cote ocean Mogador(Essaouira)<i id="yellow" class="fa fa-star" aria-hidden="true"></i> <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i>
                                </h3>
                                <p>L'Hotel Cote ocean Mogador se trouve à 2,7 km d'un supermarché Aswak Assalam et à 11
                                    km d'un point de vue. L'aéroport
                                    d'Essaouira-Mogador, le plus proche, est à 16 km. Une navette aéroport pourra être
                                    organisée moyennant un supplément.

                                    C'est le quartier préféré des voyageurs visitant Essaouira, selon les commentaires
                                    clients indépendants.</p>

                                <div id="carouselExampleIndicators10" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators10" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleIndicators10" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators10" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators10" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators10" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100 img-fluid"
                                                src="../../assets/img/foto/morocco/Hotel Essaouira/hotel1-1 (Copier).jpg"
                                                alt="First slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Essaouira/hotel1-2 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Essaouira/hotel1-3 (Copier).jpg"
                                                alt="Third slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Essaouira/hotel1-4 (Copier).jpg"
                                                alt="fourth slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Essaouira/hotel1-5 (Copier).jpg"
                                                alt="fifth slide" />
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators10" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators10" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <a class="btn btn-info mt-3 mb-3 buttcard2"
                                    href="https://www.booking.com/hotel/ma/cote-ocean-mogador.fr.html" target="_blank">
                                    Plus
                                    d'informations ici </a>
                                <h3>Heure Bleue Palais (Essaouira)<i id="yellow" class="fa fa-star" aria-hidden="true"></i> <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i>
                                </h3>
                                <p>Cet hôtel de luxe dispose d'une terrasse avec une piscine extérieure chauffée offrant
                                    une vue panoramique sur la médina
                                    et sur la mer. Il se situe à seulement 400 mètres de la plage, au cœur d'Essaouira.
                                </p>

                                <div id="carouselExampleIndicators11" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators11" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleIndicators11" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators11" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators11" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators11" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100 img-fluid"
                                                src="../../assets/img/foto/morocco/Hotel Essaouira/hotel2-1 (Copier).jpg" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Essaouira/hotel2-2 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Essaouira/hotel2-3 (Copier).jpg"
                                                alt="Third slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Essaouira/hotel2-4 (Copier).jpg"
                                                alt="fourth slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Essaouira/hotel2-5 (Copier).jpg"
                                                alt="fifth slide" />
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators11" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators11" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <a class="btn btn-info mt-3 mb-3 buttcard2"
                                    href="https://www.booking.com/hotel/ma/heure-bleue-palais.fr.html" target="_blank">
                                    Plus
                                    d'informations ici </a>

                                <h3>Hotel Sahrai (Fés) <i id="yellow" class="fa fa-star" aria-hidden="true"></i> <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                    id="yellow" class="fa fa-star" aria-hidden="true"></i>
                                </h3>
                                <p>L'aéroport Fès-Saïss est à 13 km de l'Hotel Sahrai. Un service de navette peut être
                                    organisé sur demande.

                                    Les couples apprécient particulièrement l'emplacement de cet établissement. Ils lui
                                    donnent la note de 8,3 pour un
                                    séjour à deux.</p>

                                <div id="carouselExampleIndicators12" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators12" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleIndicators12" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators12" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators12" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators12" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100 img-fluid"
                                                src="../../assets/img/foto/morocco/Hotel Fés/hotel1-1 (Copier).jpg"
                                                alt="First slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Fés/hotel1-2 (Copier).jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Fés/hotel1-3 (Copier).jpg"
                                                alt="Third slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Fés/hotel1-4 (Copier).jpg"
                                                alt="fourth slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Fés/hotel1-5 (Copier).jpg"
                                                alt="fifth slide" />
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators12" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators12" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <a class="btn btn-info mt-3 mb-3 buttcard2" href="https://www.booking.com/hotel/ma/sahrai.fr.html"
                                    target="_blank">
                                    Plus
                                    d'informations ici </a>

                                <h3>Hôtel l'escale (Fés) <i id="yellow" class="fa fa-star" aria-hidden="true"></i><i
                                        id="yellow" class="fa fa-star" aria-hidden="true"></i><i id="yellow"
                                        class="fa fa-star" aria-hidden="true"></i><i id="yellow" class="fa fa-star"
                                        aria-hidden="true"></i>
                                </h3>
                                <p>L'Hôtel l'escale est à 1 km du supermarché Acima de Fès-Essaâda et à 3,1 km d'un
                                    centre commercial de Fès. Vous
                                    atteindrez l'aéroport de Fès-Saïss à 12 km de l'établissement.

                                    Les couples apprécient particulièrement l'emplacement de cet établissement. Ils lui
                                    donnent la note de 8,4 pour un
                                    séjour à deux.</p>

                                <div id="carouselExampleIndicators13" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators13" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleIndicators13" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators13" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators13" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators13" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100 img-fluid"
                                                src="../../assets/img/foto/morocco/Hotel Fés/hotel2-1 (Copier).jpg"
                                                alt="First slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Fés/hotel2-2.jpg"
                                                alt="Second slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Fés/hotel2-3 (Copier).jpg"
                                                alt="Third slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Fés/hotel2-4.jpg"
                                                alt="fourth slide" />
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100"
                                                src="../../assets/img/foto/morocco/Hotel Fés/hotel2-5.jpg"
                                                alt="fifth slide" />
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators13" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators13" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <a class="btn btn-info mt-3 mb-3 buttcard2"
                                    href="https://www.booking.com/hotel/ma/l-39-escale.fr.html" target="_blank">
                                    d'informations ici </a>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Card -->


        </div>
        <!-- Card deck 1 -->
        <app-footer></app-footer>