@import url('https://fonts.googleapis.com/css?family=Jomhuria&display=swap');

.card-text,
.scr {
  font-size: 16px;
  font-weight: 400;
}

#img-maroc-header {
  width: 100%;
  height: 400px;
  background-position: bottom;
}

#yellow {
  color: yellow;
}

i {
  font-size: 0.9em;
  color: rgb(211, 48, 48);
}

.ligne {
  background-color: #ff6347;
  height: 2px;
}
.apropos {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: justify;
}

ul {
  list-style: none;
}

i {
  color: white;
  font-size: 20px;
}
hr {
  background-color: #ff6347;
  height: 2px;
}
.left {
  display: flex;
  justify-content: start;
  text-align: center;
}
.text-center {
  text-align: center;
}
.buttcard {
  position: absolute;
  bottom: 5px;
  left: 35%;
}

.scr {
  overflow-y: scroll;
  height: 75vh;
}

#title-footer {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.buttcard {
  background-color: #ff6347 !important;
  border: 1px solid #ff6347 !important;
}

.buttcard2 {
  background-color: #ff6347 !important;
  border: 1px solid #ff6347 !important;
}

.modal-body {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0px;
}

@media screen and (max-width: 1024px) {
  #img-maroc-header {
    max-width: 100%;
    height: 52vh;
  }
}

@media screen and (max-width: 500px) {
  #img-maroc-header {
    width: 100%;
    height: 35vh;
  }
}
